@import 'grid';
@import "variables";
@import "global";



.navbar{
  background-color: #000;
  height: 100px;
  width: 100vw;
  z-index: 10001;
  position: fixed;
  .logo{
    @media (min-width: 320px) {
      margin-left: 20px;
    }
    @media (min-width: 768px){
      margin-left: 0;
    }
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  &-menu {
    height: 100%;
    &-hamburger{
      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 40px;
        height: 20px;
        position: fixed;
        z-index: 999999999;
        left: 85%;
        top: -18px;
        margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 6px;
          width: 100%;
          background: #b88b58;
          border-radius: 5px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
        }
        @media screen and (min-width: 768px){
          transition: none;
        }
        span:nth-child(1) {
          top: 0px;
        }

        span:nth-child(2), span:nth-child(3) {
          top: 14px;
        }

        span:nth-child(4) {
          top: 28px;
        }
        &.open {
          span:nth-child(1) {
            top: 14px;
            width: 0%;
            left: 50%;
          }

          span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }

          span:nth-child(4) {
            top: 14px;
            width: 0%;
            left: 50%;
          }
        }
      }
        @media screen and (min-width: 768px) {
          display: none;
        }

    }
    &-list {
      position: relative;
      list-style: none;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(0,0,0,0);
      left: 100%;

      @media screen and (min-width: 320px) and (max-width: 768px) {
        position: fixed;
        background-color: rgba(0,0,0,1);
        z-index: 999999;
        top: 0;
        left: 100%;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        transition: none;
        &:after {

        }
        &:before {

        }
      }
      @media screen and (min-width: 768px) {
        position: relative;
        list-style: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        text-align: center;
        left: 0 !important;
        transition: none !important;
      }
      @media screen and (min-width: 1060px) {
        position: relative;
        list-style: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        text-align: center;
        transition: none;
      }
      li {
        display: inline-block;

        @media screen and (min-width: 320px) and (max-width: 480px){
          padding: 10px 20px;

        }
        @media screen and (min-width: 481px) and (max-width: 767px){
          padding: 20px 20px;
        }

        @media screen and (min-width: 768px) {
          padding: calc((100px - 34px) / 2) 5px;
          height: 100%;
        }
        @media screen and (min-width: 868px) {
          padding: calc((100px - 14px) / 2) 5px;
          height: 100%;
        }
        a {
          font-family: 'Montserrat', sans-serif;
          color: #ffffff;
          font-size: 14px; /* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: left;
          text-decoration: none;
          text-transform: uppercase;
          @media #{$phones}{

            &:hover{
              color:#b88b58;
            }
          }
          @media (min-width: 768px) {
            font-size: 12px; /* Przybliżenie (wynika z podstawienia czcionki) */
          }
          @media (min-width: 1060px) {
            font-size: 14px; /* Przybliżenie (wynika z podstawienia czcionki) */
          }
        }
      }
    }
  }
}
#home{
  position: relative;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    height: 100vh;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    height: 850px;
    width: 100%;
  }
  height: 850px;
  width: 100%;
  .owl-home {
    height: 100%;
    .owl-height{
      height: 100% !important;
      .owl-stage{
        height: 100%;
        .owl-item{
          height: 100%;
        }
      }
    }
    .owl-stage{
      position: relative;
      z-index: 10;
    }

    .owl-dots {
      position: relative;
      margin-top: -50px;
      z-index: 99;
      .owl-dot {
        span {
          width: 14px;
          height: 14px;
          margin: 5px 7px;
          background: transparent;
          border: 2px solid #b88b58;
          border-radius: 50%;
          display: block;
          -webkit-backface-visibility: visible;
          transition: opacity .2s ease;
        }
        &.active {
          span {
            background-color: #b88b58;
          }
        }
      }
    }

    .slide-1 {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          @media screen and (min-width: 320px) and (max-width: 480px) {
            padding-top: 80px;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            width: 130px;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            width: 170px;

          }
          @media screen and (min-width: 768px) {
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;

          }
          span {
            @media screen and (min-width: 320px) and (max-width: 480px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
              margin-left: -85px;
            }
            @media screen and (min-width: 481px) and (max-width: 767px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
              margin-left: -105px;
            }
            @media screen and (min-width: 768px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
            }
          }
        }
        h2 {

          @media screen and (min-width: 320px) and (max-width: 480px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 16px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 16px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
          @media screen and (min-width: 768px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            font-size: 24px; /* Przybliżenie (wynika z podstawienia czcionki) */
          }
        }
        &-btn {
          height: 45px;
          width: 195px;
          background-color: #b88b58;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          transition: 0.25s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
          a {
            padding-top: 13px;
            width: 100%;
            height: 100%;
            font-family: 'Montserrat',sans-serif;
            color: #ffffff;
            font-size: 12px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }
    .slide-2 {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          @media screen and (min-width: 320px) and (max-width: 480px) {
            padding-top: 80px;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            width: 130px;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            width: 170px;

          }
          @media screen and (min-width: 768px) {
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;

          }
          span {
            @media screen and (min-width: 320px) and (max-width: 480px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
              margin-left: -85px;
            }
            @media screen and (min-width: 481px) and (max-width: 767px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
              margin-left: -105px;
            }
            @media screen and (min-width: 768px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
            }
          }
        }
        h2 {

          @media screen and (min-width: 320px) and (max-width: 480px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 16px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 16px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
          @media screen and (min-width: 768px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            font-size: 24px; /* Przybliżenie (wynika z podstawienia czcionki) */
          }
        }
        &-btn {
          height: 45px;
          width: 195px;
          background-color: #b88b58;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          transition: 0.25s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
          a {
            padding-top: 13px;
            width: 100%;
            height: 100%;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 12px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }
    .slide-3 {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          @media screen and (min-width: 320px) and (max-width: 480px) {
            padding-top: 80px;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            width: 130px;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            width: 170px;

          }
          @media screen and (min-width: 768px) {
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;

          }
          span {
            @media screen and (min-width: 320px) and (max-width: 480px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
              margin-left: -85px;
            }
            @media screen and (min-width: 481px) and (max-width: 767px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
              margin-left: -105px;
            }
            @media screen and (min-width: 768px) {
              font-family: 'Montserrat';
              color: #b88b58;
              font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
              font-weight: 700;
              line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
              text-align: center;
            }
          }
        }
        h2 {

          @media screen and (min-width: 320px) and (max-width: 480px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 16px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 16px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
          @media screen and (min-width: 768px) {
            margin-top: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            color: #ffffff;
            font-weight: 600;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            font-size: 24px; /* Przybliżenie (wynika z podstawienia czcionki) */
          }
        }
        &-btn {
          height: 45px;
          width: 195px;
          background-color: #b88b58;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          transition: 0.25s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
          a {
            padding-top: 13px;
            width: 100%;
            height: 100%;
            font-family: 'Montserrat';
            color: #ffffff;
            font-size: 12px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }
  }
}
#about-us{
  background-color: #FFFFFF;
  height: 530px;
  @media screen and (min-width: 320px) and (max-width: 767px){
    flex-direction: column;
    display: flex;
    height: auto;
  }

  .about-us-title{
    margin-bottom: 30px;
    h2{
      font-family: 'Montserrat';
      color:  #000000;
      font-size: 30px;/* Przybliżenie (wynika z podstawienia czcionki) */
      font-weight: 600;
      line-height: 30px;/* Przybliżenie (wynika z podstawienia czcionki) */
      text-align: center;
      text-transform: uppercase;
      margin-top: 63px;
    }
    h3{
      font-family: Montserrat;
      color:  #aeaeae;
      font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
      font-weight: 600;
      line-height: 30px;/* Przybliżenie (wynika z podstawienia czcionki) */
      text-align: center;
      text-transform: uppercase;
    }
  }
  .about-us-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media screen and (min-width: 320px) and (max-width: 767px){
      flex-direction: column;
    }
    &-text{
      @media screen and (min-width: 320px) and (max-width: 767px){
        order: 2;
        justify-content: space-evenly;
      }

      p{
        @media screen and(min-width: 320px) and (max-width: 767px) {
          font-family: 'Montserrat';
          color:  #242424;
          font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 25px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          width: 85%;
          margin: 20px auto;
        }
        @media screen and(min-width: 768px) and (max-width: 1023px){
          font-family: 'Montserrat';
          color:  #242424;
          font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 20px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          width: 40vh;
          margin: 20px auto;
        }
        @media screen and(min-width: 1024px){
          font-family: 'Montserrat';
          color:  #242424;
          font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 20px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: left;
          width: 80%;
          margin: 20px auto;
        }
      }
      .about-us-content-text-btn{
        margin: 30px auto;
        height: 45px;
        width: 195px;
        background-color: #b88b58;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.25s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
        a{
          padding-top: 13px;
          width: 100%;
          height: 100%;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    &-video{
      @media screen and (min-width: 320px) and (max-width: 767px) {
        order: 1;
        width: 100%;
      }
      width: 45vw;
      text-align: center;
      video{
        margin: 0 auto;

        @media screen and (min-width: 320px) and (max-width: 767px) {
          width: 80%;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px){
          width: 40vw;
        }
        @media screen and (min-width: 1024px){
          width: 400px;
          box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.4);
        }
      }
    }
  }
}
#services{
  background-color: black;
  height: auto;
  padding-bottom: 45px;
  .services-title{
    margin-bottom: 50px;
    h2{
      color:#FFFFFF;
    }
  }
  .services-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    height: 210px;
    margin-bottom: 50px;
    @media screen and (min-width: 320px) and (max-width: 767px){
      flex-wrap: wrap;
      height: auto;
    }
    @media screen and (min-width: 768px){
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
    }
    .quality{

      border-left: 2px solid #383838 ;
      @media screen and (min-width: 320px) and (max-width: 1170px){
        border: none;
        margin-bottom: 20px;
      }
      .quality-text{
        h4{
          font-family: 'Montserrat',sans-serif;
          color:  #ffffff;
          font-size: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          padding: 2px 50px 0 50px;

        }
        p{
          font-family: 'Montserrat',sans-serif;
          color:  #7e7e7e;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          padding: 0 40px;
        }
      }
    }
    .modern{
      border-left: 2px solid #383838 ;
      @media screen and (min-width: 320px) and (max-width: 1170px){
        border: none;
        margin-bottom: 20px;
      }
      .modern-text{
        h4{
          font-family: 'Montserrat',sans-serif;
          color:  #ffffff;
          font-size: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          padding: 2px 50px 0 50px;

        }
        p{
          font-family: 'Montserrat',sans-serif;
          color:  #7e7e7e;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          padding: 0 40px;
        }
      }
    }
    .update{
      border-left: 2px solid #383838 ;
      @media screen and (min-width: 320px) and (max-width: 1170px){
        border: none;
        margin-bottom: 20px;
      }
      .update-text{
        h4{
          font-family: 'Montserrat',sans-serif;
          color:  #ffffff;
          font-size: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          padding: 2px 50px 0 50px;

        }
        p{
          font-family: 'Montserrat',sans-serif;
          color:  #7e7e7e;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          padding: 0 40px;
        }
      }
    }
    .support{
      border-left: 2px solid #383838 ;
      border-right: 2px solid #383838 ;
      @media screen and (min-width: 320px) and (max-width: 1170px){
        border: none;
        margin-bottom: 20px;
      }
      .support-text{
        h4{
          font-family: 'Montserrat',sans-serif;
          color:  #ffffff;
          font-size: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          padding: 2px 50px 0 50px;

        }
        p{
          font-family: 'Montserrat',sans-serif;
          color:  #7e7e7e;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          padding: 0 40px;
        }
      }
    }
  }
}
#projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  .projects-filter{
    display: flex;
    justify-content: center;
    .projects-filter-menu{
      list-style: none;
      width: 710px;
      display: flex;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      border-radius: 25px;
      border: 1px solid #cfcfcf;
      background-color: #ededed;
      height: 55px;
      @media screen and (min-width: 320px) and (max-width: 480px){

      }
      @media screen and (min-width: 320px) and (max-width: 767px){
        width: 90vw;
        margin: 0 15px;
        height: auto;
        flex-wrap: wrap;
        border: none;
        background-color: transparent;

      }
      li{
        display: inline-block;
        text-transform: uppercase;
        border-right: 1px solid #cfcfcf;
        height: 100%;
        padding: 18px 27px;
        @media screen and (min-width: 320px) and (max-width: 480px) {
          width: 40vw;
          height: 40px;
          padding: 10px 0;
          margin: 5px auto;
          text-align: center;
          border: 1px solid #cfcfcf;
          background-color: #ededed;
          border-radius: 25px;
          &:nth-child(2n-1){
            border-right: 1px solid #cfcfcf;
          }
        }
        @media screen and (min-width: 481px) and (max-width: 767px){
          width: 33vw;
          height: 40px;
          padding: 10px 0;
          margin: 5px auto;
          text-align: center;
          border: 1px solid #cfcfcf;
          background-color: #ededed;
          border-radius: 25px;
          &:nth-child(2n-1){
            border-right: 1px solid #cfcfcf;
          }
        }
        &:nth-child(6){
          border-right: none;
        }
        a{
          font-family: 'Montserrat',sans-serif;
          color:  #000000;
          font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-decoration: none;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
  .projects-content{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    .p-item{
      .item-hover{
        opacity: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.7);
        transition: opacity 0.25s ease-in;
        h2{
          font-family: 'Montserrat',sans-serif;
          color:  #ffffff;
          font-size: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 500;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          margin-top: -10px;
          margin-bottom: 15px;
          cursor: default;
        }
        p{
          width: 200px;
          font-family: 'Montserrat',sans-serif;
          color:  #ffffff;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          cursor: default;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  .projects-load_more{
    height: 45px;
    width: 195px;
    background-color: #b88b58;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    border-radius: 20px;
    transition: 0.25s ease-in-out;
    margin:  0 auto 50px auto;

    &:hover{
      transform: scale(1.05,1.05);
    }
    a{
      padding-top: 13px;
      width: 100%;
      height: 100%;
      font-family: 'Montserrat',sans-serif;
      color:  #ffffff;
      font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
      font-weight: 700;
      line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
    }

  }
}
#our-team{
  background-image: url("../assets/our-members/Bg-our-team.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  .title{

    h2{
      color: #ffffff;
    }
  }
    .our-team-carousel{
      overflow: hidden;
      .owl-dots{
        .owl-dot{
          span{
            width: 14px;
            height: 14px;
            margin: 5px 7px;
            background: transparent;
            border: 2px solid #b88b58;
            border-radius: 50%;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity .2s ease;
          }
          &.active{
            span{
              background-color: #b88b58;
            }
          }
        }
      }
    }
    .our-team-member{
      height: 430px;
      width: 350px;
      border-radius: 3px;
      background-color:  #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 25px 100px 25px;

      img{
        width: 185px;
        height: 185px;
      }
      .our-member-info{
        h2{
          text-transform: uppercase;
          font-family: 'Montserrat',sans-serif;
          color:  #242424;
          font-size: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 500;
          line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
        h3{
          font-family: 'Montserrat',sans-serif;
          color:  #242424;
          font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
      }
      .member-social-media-list{
        list-style: none;
        li{
          display: inline-block;
          width: 33px;
          height: 33px;
          border-radius: 50%;
          background-color:  #bebebe;
          transition: background-color 0.25s ease-in-out;
          padding: 9px;
          &:hover{
            background-color: #b88b58;
          }
          a{
            margin: 0 auto;
            img{
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
#happy-clients{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  .happy-clients-title {

    @media screen and (min-width: 320px) and (max-width: 1070px) {
      width: 100vw;
    }
  }
  .happy-clients-carousel {

    @media screen and (min-width: 320px) and (max-width: 1070px) {
      width: 100vw;
    }
    .client {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 320px) and (max-width: 480px) {
        width: 100vw;
      }
      img {
        width: 150px;
        height: 150px;
      }
      .info {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
        h2 {
          font-family: 'Montserrat', sans-serif;
          color: #000000;
          font-size: 24px; /* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          margin-bottom: 10px;
        }
        h3 {
          font-family: 'Montserrat', sans-serif;
          color: #000000;
          font-size: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 400;
          line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
      }
      .review {
        align-self: center;
        margin-bottom: 30px;
        img {
          margin: 0 auto 20px auto;
          height: 20px;
          width: 27px;
        }
        p {
          margin: 0 auto;
          text-align: center;
          width: 62%;
          font-family: 'Montserrat', sans-serif;
          color: #7e7e7e;
          font-size: 14px; /* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 300;
          line-height: 25px; /* Przybliżenie (wynika z podstawienia czcionki) */
        }
      }
    }
  }

}
#clients{
  border-style: solid;
  border-width: 1px;
  border-color:  #cfcfcf;
  box-sizing: border-box;
  background-color:  #ffffff;
  height: 158px;

  @media screen and (min-width: 320px) and (max-width: 768px){
    height: auto;
  }

  .logos{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    @media screen and (min-width: 320px) and (max-width: 768px){
      height: auto;
      width: 100vw;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-around;
    }
    div{
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      @media screen and (min-width: 320px) and (max-width: 768px){
        margin: 0 10%;
      }
      img{
        @media screen and (min-width: 320px) and (max-width: 767px){

        }
      }
    }

  }
}
#price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  .price-boxes{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 580px) and (max-width: 1170px){
      width: 550px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 320px) and (max-width: 579px){
      width: 100vw;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .price-boxes-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3{
        font-family: 'Montserrat',sans-serif;
        color:  #242424;
        font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 600;
        line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      h2{
        font-family: 'Montserrat',sans-serif;
        color:  #242424;
        font-size: 30px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 700;
        line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: center;
      }
      h4{
        font-family: 'Montserrat',sans-serif;
        color:  #aeaeae;
        font-size: 10px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 400;
        line-height: 25px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: center;
        text-transform: uppercase;
        margin-top: 3px;
        margin-bottom: 15px;
      }
      span{
        font-family: 'Montserrat',sans-serif;
        color:  #8a8a8a;
        font-size: 10px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 400;
        line-height: 13px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: center;
      }
      .btn-choose{
        margin-top: 30px;
        height: 45px;
        width: 125px;
        background-color: #000000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.25s ease-in-out;
        &:hover {
          transform: scale(1.1);
          background-color: #b88b58;
        }
        a {
          padding-top: 13px;
          width: 100%;
          height: 100%;
          font-family: 'Montserrat',sans-serif;
          color: #ffffff;
          font-size: 12px; /* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}

#contact-us{
  height: auto;
  .contact-us-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-us-title{

    }
    .contact-us-form{
      position: relative;
      width: 580px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      @media screen and (min-width: 320px) and (max-width: 480px){
        width: 100vw;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
      @media screen and (min-width: 481px) and (max-width: 580px){
        width: 95vw;
        justify-content: space-between;
        align-content: center;
        align-items: center;
      }
      label{
        display: none;
      }
      #name{
        width: 47%;
        color:  #aeaeae;
        @media screen and (min-width: 320px) and (max-width: 480px){
          width: 90vw;
        }
      }
      #email{
        width: 47%;
        color:  #aeaeae;
        @media screen and (min-width: 320px) and (max-width: 480px){
          width: 90vw;
        }
      }
      #subject{
        width: 100%;
        color:  #aeaeae;
        @media screen and (min-width: 320px) and (max-width: 480px){
          width: 90vw;
        }
      }
      #message{
        width: 100%;
        resize: none;
        color:  #aeaeae;
        @media screen and (min-width: 320px) and (max-width: 480px){
          width: 90vw;
        }
        &::placeholder{
          padding-top: 125px;
        }
      }
      #contact-us-form-btn{
        margin: 0 auto 50px auto;
        height: 45px;
        width: 195px;
        background-color: #b88b58;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.25s ease-in-out;
        font-family: 'Montserrat',sans-serif;
        cursor: pointer;
        color:  #ffffff;
        font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 700;
        line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: center;
      }
    }
  }
}
#map{
  min-height: 415px;
  position: relative;
  @media screen and (min-width: 320px) and (max-width: 480px){
    height: 600px;
  }
  @media screen and (min-width: 481px) and (max-width: 768px){
    height: 600px;
  }

  .google-map{
    position: absolute;
    width: 100vw;
    height: 415px;
    z-index: 1;
    @media screen and (min-width: 320px) and (max-width: 480px){
      height: 415px;
      width: 100%;
    }
    @media screen and (min-width: 481px) and (max-width: 768px){
      height: 415px;
      width: 100%;
    }

  }
  .map-contact{
    position: absolute;
    height: 85%;
    margin-top: 30px;
    padding: 0 0 0 50px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    @media screen and (min-width: 320px) and (max-width: 480px){
      height: 50%;
      width: 100%;
      top: 45%;
      padding: 0;
    }
    @media screen and (min-width: 481px) and (max-width: 768px){
      height: 50%;
      width: 100%;
      top: 45%;
      padding: 0;
    }
    @media screen and (min-width: 769px) and (max-width: 1170px){
      padding: 0 0 0 20px;
      height: 100%;
      top: 0;
      margin: 0;
    }

  }
}
#footer{
  min-height: 260px;
  height: auto;
  background-color: black;
  padding: 30px 0;

  .footer-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media screen and(min-width: 320px) and (max-width: 480px){
      flex-direction: column;
    }
    @media screen and(min-width: 481px) and (max-width: 1170px){
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-social-media{
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;
      @media screen and(min-width: 320px) and (max-width: 480px){
        order: 3;
        min-height: 100px;
        margin-top: 20px;
        align-items: center;
      }
      @media screen and(min-width: 481px) and (max-width: 699px){
        order: 3;
        margin-top: 35px;
        min-height: 100px;
        align-items: center;
      }
      @media screen and(min-width: 700px) and (max-width: 1170px){
        order: 2;
      }

      .footer-social-media-icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        li{
          display: inline-block;
          width: 33px;
          height: 33px;
          border-radius: 50%;
          background-color:  #373737;
          margin: 3px;
          transition: background-color 0.25s ease-in-out;
          &:hover{
            background-color:  #b88b58;
          }
        }
        a{
          img{
            margin: 9px;
            width: 15px;
            height: 15px;
          }
        }
      }
      h5{

        font-family: 'Montserrat',sans-serif;
        color:  #ffffff;
        font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 400;
        line-height: 25px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: left;
      }
    }
    .footer-text{
      margin: 0 15px;
      width: 33%;
      @media screen and(min-width: 320px) and (max-width: 767px){
        order: 1;
        width: 90vw;
        margin: 0 0 20px 0;
        align-self: center;
      }

      @media screen and(min-width: 768px) and (max-width: 1170px){
        order: 1;
        width: 75vw;
        margin: 0 0 20px 0;
        text-align: center;

      }
      p{
        font-family: 'Montserrat',sans-serif;
        color:  #7e7e7e;
        font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 300;
        line-height: 21px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: left;
        @media screen and(min-width: 320px) and (max-width: 1170px){
          text-align: center;
        }
      }
    }
    .footer-subscribe{
      margin: 0 15px;
      border-radius: 3px;
      background-color:  #373737;
      width: 350px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      @media screen and(min-width: 320px) and (max-width: 480px){
        order: 2;
        margin: 20px 0 20px 0;
        width: 90vw;
        align-self: center;
      }
      @media screen and(min-width: 481px) and (max-width: 699px){
        order: 2;
      }
      @media screen and(min-width: 700px) and (max-width: 1170px){
        order: 3;
      }
      form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        label{
          display: none;
        }
        #subscribe-email{
          width: 220px;
          background-color:  #373737;
          border: none;
          margin-bottom: 30px;
          border-bottom: 2px solid #aeaeae;
          padding-bottom: 10px;
          color:#FFFFFF;
          transition: border-bottom-color 0.25s ease-in-out;
          &::placeholder{
            font-family: 'Montserrat',sans-serif;
            color:  #9e9e9e;
            font-size: 13px;/* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 500;
            line-height: 25px;/* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
          &:focus{
            border-color: #b88b58 ;
            outline: none;
          }
        }
        button{
          height: 45px;
          width: 195px;
          background-color: #b88b58;
          border: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          transition: 0.25s ease-in-out;
          font-family: 'Montserrat',sans-serif;
          cursor: pointer;
          color:  #ffffff;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

    }
  }

}