@import 'grid';
@import "variables";

*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
.active_link{
  border-bottom: 5px solid #b88b58;
}
.owl-carousel{
  position: relative;
  height: 100%;
  .owl-height{
    height: 100% !important;
    .owl-stage{
      height: 100%;
      .owl-item{
        height: 100%;
      }
    }
  }

}
.navbar{
  background-color: #000;
  height: 100px;
  width: 100vw;
  z-index: 10001;
  position: absolute;

  .logo{
    @media (min-width: 320px) {
      margin-left: 20px;
    }
    @media (min-width: 768px){
      margin-left: 0;
    }
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  &-menu {
    height: 100%;
    &-hamburger{
      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 40px;
        height: 20px;
        position: fixed;
        z-index: 999999999;
        left: 85%;
        top: -18px;
        margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 6px;
          width: 100%;
          background: #b88b58;
          border-radius: 5px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
        }

        span:nth-child(1) {
          top: 0px;
        }

        span:nth-child(2), span:nth-child(3) {
          top: 14px;
        }

        span:nth-child(4) {
          top: 28px;
        }
        &.open {
          span:nth-child(1) {
            top: 14px;
            width: 0%;
            left: 50%;
          }

          span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }

          span:nth-child(4) {
            top: 14px;
            width: 0%;
            left: 50%;
          }
        }
      }
        @media screen and (min-width: 768px) {
          display: none;
        }

    }
    &-list {
      position: relative;
      list-style: none;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(0,0,0,0);
      left: 100%;

      @media screen and (min-width: 320px) and (max-width: 768px) {
        position: fixed;
        background-color: rgba(0,0,0,1);
        z-index: 999999;
        top: 0;
        left: 100%;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        &:after {

        }
        &:before {

        }
      }
      @media screen and (min-width: 768px) {
        position: relative;
        list-style: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        text-align: center;
        left: 0 !important;
      }
      @media screen and (min-width: 1060px) {
        position: relative;
        list-style: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        text-align: center;
      }
      li {
        display: inline-block;

        @media screen and (min-width: 320px) and (max-width: 480px){
          padding: 10px 20px;

        }
        @media screen and (min-width: 481px) and (max-width: 767px){
          padding: 20px 20px;
        }

        @media screen and (min-width: 768px) {
          padding: calc((100px - 34px) / 2) 5px;
          height: 100%;
        }
        @media screen and (min-width: 868px) {
          padding: calc((100px - 14px) / 2) 5px;
          height: 100%;
        }
        a {
          font-family: 'Montserrat', sans-serif;
          color: #ffffff;
          font-size: 14px; /* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px; /* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: left;
          text-decoration: none;
          text-transform: uppercase;
          @media #{$phones}{

            &:hover{
              color:#b88b58;
            }
          }
          @media (min-width: 768px) {
            font-size: 12px; /* Przybliżenie (wynika z podstawienia czcionki) */
          }
          @media (min-width: 1060px) {
            font-size: 14px; /* Przybliżenie (wynika z podstawienia czcionki) */
          }
        }
      }
    }
  }
}
#home{
  @media screen and (min-width: 320px) and (max-width: 480px) {
    height: 100vh;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    height: 850px;
    width: 100%;
  }
  height: 850px;
  width: 100%;
  .slide-1{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-content{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1{
        @media screen and (min-width: 320px) and (max-width: 480px){
          padding-top: 80px;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 32px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 37px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          width: 130px;
      }
        @media screen and (min-width: 481px) and (max-width: 767px) {
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 42px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 69px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          width: 170px;

        }
        @media screen and (min-width: 768px) {
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 72px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 69px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;

        }
        span {
          @media screen and (min-width: 320px) and (max-width: 480px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            margin-left: -85px;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            margin-left: -105px;
          }
          @media screen and (min-width: 768px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
        }
      }
      h2{

        @media screen and (min-width: 320px) and (max-width: 480px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
        @media screen and (min-width: 481px) and (max-width: 767px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
        @media screen and (min-width: 768px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          font-size: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
        }
      }
      &-btn{
        height: 45px;
        width: 195px;
        background-color: #b88b58;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.25s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
        a{
          padding-top: 13px;
          width: 100%;
          height: 100%;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
  .slide-2{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-content{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1{
        @media screen and (min-width: 320px) and (max-width: 480px){
          padding-top: 80px;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 32px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 37px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          width: 130px;
      }
        @media screen and (min-width: 481px) and (max-width: 767px) {
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 42px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 69px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          width: 170px;

        }
        @media screen and (min-width: 768px) {
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 72px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 69px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;

        }
        span {
          @media screen and (min-width: 320px) and (max-width: 480px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            margin-left: -85px;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            margin-left: -105px;
          }
          @media screen and (min-width: 768px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
        }
      }
      h2{

        @media screen and (min-width: 320px) and (max-width: 480px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
        @media screen and (min-width: 481px) and (max-width: 767px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
        @media screen and (min-width: 768px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          font-size: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
        }
      }
      &-btn{
        height: 45px;
        width: 195px;
        background-color: #b88b58;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.25s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
        a{
          padding-top: 13px;
          width: 100%;
          height: 100%;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  } 
  .slide-3{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-content{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1{
        @media screen and (min-width: 320px) and (max-width: 480px){
          padding-top: 80px;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 32px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 37px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          width: 130px;
      }
        @media screen and (min-width: 481px) and (max-width: 767px) {
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 42px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 69px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          width: 170px;

        }
        @media screen and (min-width: 768px) {
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 72px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 69px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;

        }
        span {
          @media screen and (min-width: 320px) and (max-width: 480px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 32px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 37px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            margin-left: -85px;
          }
          @media screen and (min-width: 481px) and (max-width: 767px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 42px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
            margin-left: -105px;
          }
          @media screen and (min-width: 768px) {
            font-family: 'Montserrat';
            color: #b88b58;
            font-size: 72px; /* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            line-height: 69px; /* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: center;
          }
        }
      }
      h2{

        @media screen and (min-width: 320px) and (max-width: 480px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
        @media screen and (min-width: 481px) and (max-width: 767px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
        }
        @media screen and (min-width: 768px) {
          margin-top: 30px;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-weight: 600;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          font-size: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
        }
      }
      &-btn{
        height: 45px;
        width: 195px;
        background-color: #b88b58;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.25s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
        a{
          padding-top: 13px;
          width: 100%;
          height: 100%;
          font-family: 'Montserrat';
          color:  #ffffff;
          font-size: 12px;/* Przybliżenie (wynika z podstawienia czcionki) */
          font-weight: 700;
          line-height: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }


}